<div class="play">
    <div>
        <button class="startQuizBtn" (click)="onButtonClick()">Start Quiz</button>
    </div>


    <div *ngIf="this.questionsList" class="row" role="group">
        <div class="myQuestion">
            <span>{{this.questionsList[this.index].quest}}<br>
                <span class="myAnswer {{this.className}}">{{this.answer}}</span>
            </span>
        </div>
        <div>
            <img class="myImage"
                src="https://localhost:5001/api/questions/image?image={{this.questionsList[this.index].image}}">
        </div>
        <button [disabled]="this.answer" (click)="myAnswer($event)" id="ans1" type="button"
            class="btn btn-success">{{this.questionsList[this.index].ans1}}</button>
        <button [disabled]="this.answer" (click)="myAnswer($event)" id="ans2" type="button"
            class="btn btn-success">{{this.questionsList[this.index].ans2}}</button>
        <button [disabled]="this.answer" (click)="myAnswer($event)" id="ans3" type="button"
            class="btn btn-success">{{this.questionsList[this.index].ans3}}</button>
        <button [disabled]="this.answer" (click)="myAnswer($event)" id="ans4" type="button"
            class="btn btn-success">{{this.questionsList[this.index].ans4}}</button>
        <!-- <p class="myAnswer {{this.className}}" >{{this.answer}}</p> -->
        <div class="nxtBtn">
            <button *ngIf="this.answer" class="btn btn-primary" (click)="onButtonClickNext()">Next</button>
        </div>
    </div>

</div>