.row{
    display: inline-block;
    margin: 10px;
    width: 420px;
}

.play{
	background: #edde9c;
}

span{
    font-weight: bold;
    font-family: Arial ;
    font-size: x-large;
}

.btn{
    width: 200px;
	margin: 5px;
	font-weight: bolder;
	color: black;
}

.btn-primary{
	width: 70px;
}

.nxtBtn{
	text-align: right;
}

.startQuizBtn {
    margin: 10px;
	box-shadow: 0px 1px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #810e05;
}
.startQuizBtn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.startQuizBtn:active {
	position:relative;
	top:1px;
}

.myQuestion{
	height: 180px;
	width: 420px;
	padding: 15px;
	border: black solid 1px;
}

.myImage{
	width: 180px;
	height: 280px;
	border: #810e05 solid 2px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.myAnswer{
	margin-top: 10px;
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 45px;
}

.wrong{
	background-color: rgb(248, 159, 156);
	border: rgb(200, 0, 0) solid 1px;
	border-radius: 5px;
	font-family: "Segoe UI Symbol";
	font-size: 25px;
	color: rgb(200, 0, 0);
}

.right{
	background-color: rgb(137, 241, 177);
	border: green solid 1px;
	border-radius: 5px;
	font-family: "Segoe UI Symbol";
	font-size: 25px;
	color: green;
}
